 @import'funciones/listas';
 
 
 *{
    padding: 0%;
    margin: 0%;
}
/*main de index*/
.main{
    padding-bottom: 3em;
    padding-top: 10rem;
    
@media (max-width: 768px){
    display: flex;
    flex-wrap: wrap;
}
    
}

body{
    background-color:nth($colores, 5);
    z-index: 0;
    margin: 0;
 }

h2{
    text-align: center;
    font-family: 'Patua One', cursive;
    color: nth($colores, 2);
    font-size: 3.5em;
    
}

h3{
    text-align: left;
    font-family: 'Patua One', cursive;
    color: nth($colores, 2);
    font-size: 3.5em;
    
}
h4{
    text-align: center;
    font-family: 'Patua One', cursive;
    color: nth($colores, 3);
    font-size: 2em;
    
}

  

  html {
    min-height: 100%;
    position: relative;
  }
  
  a:link, a:visited, a:active {
    text-decoration:none;

    }




 .parrafos{
        color: nth($colores, 2);
        text-align: center;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 23px;
         }